@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
*{
	margin:0px;
	font-family: 'Jeju Gothic', serif;
}
a{ text-decoration:none;color:black;font-size:25px}
.button {
	border-radius: 12px;
	background-color: #ECC0A2; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 34px;
	margin: 30px 2px;
	cursor: pointer;
	width:280px;
	height:60px;
}
.menu{
	width:100px;height:80px;display:inline-block
}
.menu_text{
	display:inline-block;margin-top:30px;width:30px;
}
p{
	font-size:15px;
	padding-top:20px;
}
body{
	padding:0px;
	background-color: #EEEEEE;
	position: relative;
	overflow:hidden;
}
#header{
	position:fixed;
	top:0px;
	box-shadow: 1px 1px 2px #888888;border:0.01px solid #e9e9e9;
	border-right:none;
	border-left:none;
	border-bottom:none;width:100%;height:65px;background-color:white;margin-bottom:3px;
}
#header_title{
	top:22px;color:#f9f9f9;text-align:left;margin:0px;position:relative;display:block;font-size:24px;
  left:70px;
	margin:0px;
	padding:0px;
}
#header_background{
  width: 100%;
  height: 70px;
  position: fixed;
	top:0px;
	margin:0px;
	padding:0px;
}
#header_dalgona{
  position: fixed;
  top: 0px;
  width: 40px;
  left: 10px;
	margin:0px;
	padding:0px;
}
#side_menu{
	position:absolute;top:20px;right:10px;font-size:38px;
	margin:0px;
}
#menu{
	width:100%;
	position:fixed;
	top:70px;
}
#navi_header{
	position:absolute;
	top:0px;
	left:0px;
	height:150px;
	width:200px;
	background-color:black;
}
#menu_image{
	width:170px;
}
.line{
	width:95%;
	height:110px;
}
.modal{
  z-index:3;display:none;padding-top:60%;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)
}
#s_text{
	margin-top:14px;
	font-size:12px;
	font-weight:normal;
}
#line_text{
	position: relative;
	top: -170px;
	color:#f9f9f9;
	font-weight:normal;
	font-size: 18px;
}
.btn{
	width:130px;
	border-radius:4px;
	margin-top:40px;
}
.btn_text{
	padding:0px;
	margin-top:7px;
}
.modal-content{
	display:block;
  padding:10px;
  background-color:#fff;
  position:relative;padding:0;
  outline:0;width:300px;
  height:280;
	background-color: white;
	width: 280px;
	margin: auto;
	border-radius:10px;
}

div{
	display:inline-block;
}
img{
	margin-top:15px;
}
.box{
	width:100%;
	height:143px;
}
.label{
	display:table;
}
.uy-sidenav{height:100%;width:200px;background-color:#EEEEEE;position:absolute!important;top:0px;z-index:6;overflow:auto}
.uy-sidenav a{padding:4px 2px 4px 16px}.uy-sidenav a:hover{background-color:#ccc}.uy-sidenav a,.uy-dropnav a{display:block}
.uy-sidenav .uy-dropdown-hover:hover,.uy-sidenav .uy-dropdown-hover:first-child,.uy-sidenav .uy-dropdown-click:hover,.uy-dropnav a:hover{background-color:#ccc;color:#000}
.uy-sidenav .uy-dropdown-hover,.uy-sidenav .uy-dropdown-click {width:100%}.uy-sidenav .uy-dropdown-hover .uy-dropdown-content,.uy-sidenav .uy-dropdown-click .uy-dropdown-content{min-width:100%}
.uy-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}

.w3-btn,.w3-btn-block{background-color:#ECC0A2;border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover,.w3-btn-block:hover,.w3-btn-floating:hover,.w3-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-btn-floating,.w3-btn-floating-large,.w3-closenav,.w3-opennav,.w3-btn-block{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.w3-btn-floating,.w3-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.w3-btn-floating{width:40px;height:40px;line-height:40px}.w3-btn-floating-large{width:56px;height:56px;line-height:56px}
.w3-disabled,.w3-btn:disabled,.w3-btn-floating:disabled,.w3-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.w3-btn.w3-disabled *,.w3-btn-block.w3-disabled,.w3-btn-floating.w3-disabled *,.w3-btn:disabled *,.w3-btn-floating:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn-block.w3-disabled:hover,.w3-btn:disabled:hover,.w3-btn-floating.w3-disabled:hover,.w3-btn-floating:disabled:hover,
.w3-btn-floating-large.w3-disabled:hover,.w3-btn-floating-large:disabled:hover{box-shadow:none}
.w3-btn-group .w3-btn{float:left}.w3-btn-block{width:100%}
.w3-btn-bar .w3-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}.w3-btn-bar .w3-btn:hover{background-color:#ccc}
.w3-badge,.w3-tag,.w3-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.w3-badge{border-radius:50%}
.w3-radio{width:24px;height:24px;position:relative;top:6px}
.w3-radio:checked+.w3-validate{color:#ECC0A2}
.w3-radio:disabled+.w3-validate{color:#aaa}
