@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*{
	color:#676767;
	font-size:12px;
	font-family: "Noto Sans KR",sans-serif;
}
p{
	font-size:14px;
	margin:8px;
}
#header{
	position:fixed;
	top:0px;
	box-shadow: 1px 1px 2px #888888;border:0.01px solid #e9e9e9;
	border-right:none;
	border-left:none;
	border-bottom:none;width:100%;height:65px;background-color:white;margin-bottom:3px;
}
#header_title{
	top:15px;color:#f9f9f9;text-align:left;margin:0px;position:relative;display:block;font-size:24px;
  left:70px;
}
#header_background{
  width: 100%;
  height: 70px;
  position: fixed;
	left:0px;
	top:0px;
}
#header_dalgona{
  position: fixed;
  top: 0px;
  width: 40px;
  left: 10px;
}
#side_menu{
	position:absolute;top:20px;right:10px;font-size:38px;
	margin:0px;
}
#notice{
	position:fixed;
  height:90px;background-color:white;color:black;text-align:left;
	border:0.1px solid #f1f1ef;
	border-left:none;
	border-right:none;
	text-align:center;
	top:70px;
	left:0px;
	width:100%;
}

input:focus {
	outline: none;
}
.uy_input{
	border:1px solid #f1f1ef;
	border-top:none;
	border-left:none;
	border-right:none;
	padding:2px;
	width:260px;
	height: 36px;
	overflow:visible;
	text-align:center;
	display:inline;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
		padding-left:10px;
		width:40px;
}
h3{
	display:inline-block;
	margin:0px;
	padding:0px;

}
#select_box{
	width: 200px;
	display: inline;
	padding-left: 15px;
	padding-top: 10px;
}
#select_box_value{
	display:block;
	position: relative;
	bottom: 35px;
	color: #f9f9f9;
	right: 5px;
	font-weight:normal;
}
.confirm{
	text-align:center;
	color:white;
	height:40px;
	background-color: #f88978;
	position: absolute;
	bottom: 0px;
	width: 50%;
	left:0px;
}
#under_arrow{
	display: inline-block;
  width: 15px;
	position: relative;
	right: 25px;
	bottom: 5px;
}
#text{
	width: 100%;
	position: fixed;
	top: 160px;
	border: none;
	margin:10px;
	height:35%;
}
#btn{
	position:fixed;
	bottom:0px;
	left:0px;
	width: 47.5%;
  padding: 1.25%;
}
textarea:focus {
	outline: none;
}
#select_box_content{
	width:100%;
	text-align:center;
	height:35px;
	font-size:16px;
	border:0.1px solid #f1f1ef;
	border-top:none;
	border-left:none;
	border-right:none;
	margin-top:3px;
}
.modal{
  z-index:3;display:none;padding-top:60%;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)
}
.btn{
	width:130px;
	border-radius:4px;
	margin-top:40px;
}
.modal-content{
	display:block;
  padding:10px;
  background-color:#fff;
  position:relative;padding:0;
  outline:0;width:300px;
  height:280;
	background-color: white;
	width: 280px;
	margin: auto;
	border-radius:10px;
}
.btn_text{
	padding:0px;
	margin-top:7px;
	font-size:15px;
	bottom:-7px;
	color:black
}

.w3-btn,.w3-btn-block{background-color:#FECB9B;border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover,.w3-btn-block:hover,.w3-btn-floating:hover,.w3-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-btn-floating,.w3-btn-floating-large,.w3-closenav,.w3-opennav,.w3-btn-block{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.w3-btn-floating,.w3-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:10px}
.w3-btn-floating{width:40px;height:40px;line-height:40px}.w3-btn-floating-large{width:56px;height:56px;line-height:56px}
.w3-disabled,.w3-btn:disabled,.w3-btn-floating:disabled,.w3-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.w3-btn.w3-disabled *,.w3-btn-block.w3-disabled,.w3-btn-floating.w3-disabled *,.w3-btn:disabled *,.w3-btn-floating:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn-block.w3-disabled:hover,.w3-btn:disabled:hover,.w3-btn-floating.w3-disabled:hover,.w3-btn-floating:disabled:hover,
.w3-btn-floating-large.w3-disabled:hover,.w3-btn-floating-large:disabled:hover{box-shadow:none}
.w3-btn-group .w3-btn{float:left}.w3-btn-block{width:100%}
.w3-btn-bar .w3-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}.w3-btn-bar .w3-btn:hover{background-color:#ccc}
.w3-badge,.w3-tag,.w3-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.w3-badge{border-radius:50%}
.w3-radio{width:24px;height:24px;position:relative;top:6px}
.w3-radio:checked+.w3-validate{color:#FECB9B}
.w3-radio:disabled+.w3-validate{color:#aaa}
