@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
*{
	box-sizing:inherit;
	font-family: 'Jeju Gothic', serif;
	margin:0px;
	padding:0px;
}
body{
	margin:0px;
	font-size:10px;
}
#header{
	position:fixed;
	top:0px;
	box-shadow: 1px 1px 2px #888888;border:0.01px solid #e9e9e9;
	border-right:none;
	border-left:none;
	border-bottom:none;width:100%;height:65px;background-color:white;margin-bottom:3px;
}
#header_title{
	top:22px;color:#f9f9f9;text-align:left;margin:0px;position:relative;display:block;font-size:24px;
  left:70px;
}
#header_background{
  width: 100%;
  height: 70px;
  position: fixed;
	top:0px;
}
#header_dalgona{
  position: fixed;
  top: 0px;
  width: 40px;
  left: 10px;
}
#side_menu{
	position:absolute;top:20px;right:10px;font-size:38px;
	margin:0px;
}
.uy-content{
	margin:auto;
	max-width:980px;
	margin-top: 30px;
}
.uy-container{
	background-color:white;
	color:white;
	height:300px;
}
.uy-margin-top{
	margin-top:16px !important;
}
.uy-row-padding{
	padding:0px;
}
p{
	display:inline;
	margin:0px;
	font-size:14px;
	margin-right:20px;
}
center{
	margin-top:7px;
}
.uy-third{
	height:58px;
	width:100%;
	float:left;
	border:0.5px solid #cccccc;
	border-top-style:normal;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	background-color:white;
}

.uy_input{
	border-radius: 4px;
	border:1px solid #ccc !important;
	padding:2px;
	width:260px;
	height:35px;
	overflow:visible;
	text-align:center;
	display:inline;
}
input:focus {
	outline: none;
}
.button{
	border-radius: 5px;
	width:20px;
	background-color: white;
  color: black;
  border: 1px solid #FECB9B; /* Green */
	height:25px;
}
.confirm{
	position: fixed;
	bottom: 0px;
	width: 95%;
	left: 2.5%;
	border-radius: 10px;
}
.gender{
	width:130px;
	margin-top:3px;
}
#text{
	margin-top:80px;
	resize:none;
	width:320px;
	height:210px;
	color:grey;
	border-style:none;
	font-size:10px;
}
input::-webkit-input-placeholder{
	font-size:14px;
}
.w3-btn,.w3-btn-block{background-color:#FECB9B;border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;text-align:center;cursor:pointer;white-space:nowrap}

.w3-btn-group .w3-btn{float:left}.w3-btn-block{width:100%}
.w3-btn-bar .w3-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}.w3-btn-bar .w3-btn:hover{background-color:#ccc}
.w3-badge,.w3-tag,.w3-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.w3-badge{border-radius:50%}
.w3-radio{width:24px;height:24px;position:relative;top:6px}
.w3-radio:checked+.w3-validate{color:#FECB9B}
.w3-radio:disabled+.w3-validate{color:#aaa}
