@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
*{
	color:#676767;
	font-size:12px;
	font-family: 'Jeju Gothic', serif;
}
p{
	font-size:14px;
	margin:8px;
}
#header{
	position:fixed;
	top:0px;
	box-shadow: 1px 1px 2px #b8cfe3;border:0.01px solid #b8cfe3;
	border-right:none;
	border-left:none;
	border-top:none;
	border-bottom:none;width:100%;height:65px;background-color:white;margin-bottom:3px;
	z-index:99;
}
#header_title{
	top:22px;color:#f9f9f9;text-align:left;margin:0px;position:relative;display:block;font-size:24px;
  left:70px;
}
#header_background{
  width: 100%;
  height: 70px;
  position: fixed;
	left:0px;
	top:0px;
}
#header_dalgona{
  position: fixed;
  top: 0px;
  width: 40px;
  left: 10px;
}

#time{
	text-align:right;
	color:#e9e9e9
}
#profile{
	border-radius: 30px;
  padding: 10px;
  background-color: #e9e9e9;
	display: inline-block;
}
table {
    border-collapse: collapse;
    width: 100%;
}
tr{
	height:30px;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #fffdf9}
#notice{
  height:40px;
	background-color:white;
	color:black;
	text-align:center;
	margin-top:40px;
	width:100%;
}
#title{
	color:#676767;
	text-align:center;margin:0px;
	font-size:22px;
	font-weight:normal;
	margin-top:10px;
}
#content{
	margin-top:30px;
	font-size:14px;
	border:0.1px solid #e9e9e9;
	border-top:none;
	border-left:none;
	border-right:none;
	padding-bottom:10px;
}
#content_box{
	margin:10px;
	margin-top:70px;
}
#delete:hover{
	background-color:#f9f9f9;
}
#comment_input{
	border:0.1px solid #e9e9e9;
	border-radius:4px;
	text-align:left;
}
input:focus {
	outline: none;
}
.uy_input{
	border:1px solid #f1f1ef;
	border-top:none;
	border-left:none;
	border-right:none;
	padding:2px;
	width:260px;
	height:30px;
	overflow:visible;
	text-align:center;
	display:inline;
}

h3{
	display:inline-block;
	margin:0px;
	padding:0px;

}
#select_box{
	display:inline-block;
	width:180px;
	padding:5px;
	background-color:#f88978;
	border:3px solid white;
	border-radius:4px;
	margin-right:53px;
	margin-top:3px;
}

#under_arrow{
	width:10px;
	height:10px;
	float:right;
	margin-top:3px;
}

textarea:focus {
	outline: none;
}
